
<div class="navbar navbar-static-top" style="background-color: #FFF; border: none">
    <div class="container">
        <div class="row">
        <div class="col-xs-4 col-sm-4 clearfix"><a class="navbar-brand" href="#">
            <div id="qwizkool-logo">
                <!--Header Logo-->
                <h3 style="margin-top: 0px;margin-bottom: 0px">Qwiz<span>kool</span></h3>
            </div>
        </a></div>

        <div class="col-xs-8  col-sm-8 clearfix">
                <div class="btn-group pull-right" style="padding: 10px">
                    <button type="button" id="sign-up" class="btn btn-default btn-primary">Sign Up</button>
                    <button type="button" id="sign-in" class="btn btn-default btn-info">Sign In</button>
                </div>
        </div>
    </div>
    </div>
</div>


