<div class="navbar navbar-static-top header-int-nav">
    <div class="container">


        <div class="row">


            <div class="col-xs-12   col-sm-2 clearfix ">
                <a class="navbar-brand" href="#">
                    <div id="qwizkool-logo">
                        <!--Header Logo-->
                        <h3 class="qwizkool-logo-name">Qwiz<span>kool</span></h3>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-8 clearfix hidden-xs">
                <div id="qwizkool-search" class="input-group">
                    <input type="text" class="form-control" placeholder="Search Qwizbooks">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
                      </span>
                </div>
            </div>


            <div class="col-xs-12 col-sm-2 clearfix">
                <!-- Split button -->
                <div id="qwizkool-settings" class="btn-group pull-right  adjust-settings-pad" >
                    <button type="button" class="btn btn-default"><i class="icon-gear text-primary"></i></button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="qwizbook-user"><i class="icon-user icon-large"></i>  <%= email %></a></li>
                        <li class="divider"></li>
                        <li><a id="qwizbook-archive"><i class="icon-briefcase icon-large"></i> Archives</a></li>

                        <li class="divider"></li>
                        <li><a id="user-logout"><i class="icon-signout icon-large"></i> Logout</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 clearfix visible-xs">
                <div id="qwizkool-search-xs" class="input-group " >
                    <input type="text" class="form-control" placeholder="Search Qwizbooks">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
                      </span>
                </div>
            </div>

        </div>

    </div>
</div>
