
<div class="navbar footer-nav">
    <div class="container">
        <div class="col-xs-12  col-sm-12  col-md-12 col-lg-12">

            <div  class="footer-wrapper" >
                <a href="#contact">Contact</a>
                <span class="sep">|</span>
                <a href="#report-problem">Report a Problem</a>
                <span class="sep">|</span>
                <a href="#blog">Blog</a>
                <span class="sep">|</span>
                <a href="#faq">FAQ</a>
                <span class="sep">|</span>
                <a href="#careers">Careers</a>
                <span class="sep">|</span>
                <a href="#tos">Terms of Service</a>

            </div>

        </div>


    </div>
</div>
