extends layout

block content
  h2= title
  case activationStatus
    when 1
        p Your account has been activated. Please <a href="/">login</a> to continue.
    when 2
        p Your account is already activated. Please <a href="/">login</a> to continue.
    when -1
        p This account activation link is invalid/expired.
    default
        p Something went wrong while activating your account.