doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='../vendor/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='../assets/css/index.css')
    body
      .row
        .span4
            #qwizkool-logo
                .server-logo
                    h1 Qwiz
                        span kool
      hr
    block content

