
<!--
        Create the header for the qwiz view using template
-->
<%= _.partial('qwizHeader', {"obj": obj} ) %>

<%

var hint = obj.hint

// For controlling the media tab creation and active selection.
var image_active=""
var audio_active=""
var video_active=""
var qwiz_media=1

if (hint.imageLinks.length)
{
    image_active="active"
}
else if (hint.audioLinks.length)
{
    audio_active="active"
}
else if (hint.videoLinks.length)
{
    video_active="active"
} else {
    qwiz_media =0
}

%>

<div class="qwiz-body clearfix">

    <div class="qwiz-hint">

            <p>
                <%= hint.description %>
            </p>

    </div>

    <% if ( qwiz_media ){ %>

    <div class="qwiz-media clearfix">
            <div class="tabbable">
                <ul class="nav nav-tabs">

                    <% if ( (hint.imageLinks !== undefined) && hint.imageLinks.length ){ %>
                    <li class="active">
                        <a href="#qwiz-media-image" data-bypass data-toggle="tab"><i class="fa fa-picture-o"
                                                                                     data-toggle="tooltip"
                                                                                     title="Image"></i></a>
                    </li>
                    <% } %>

                    <% if ( (hint.audioLinks !== undefined) && hint.audioLinks.length ){ %>
                    <li>
                        <a href="#qwiz-media-audio" data-bypass data-toggle="tab"><i class="fa fa-volume-up"
                                                                                     data-toggle="tooltip"
                                                                                     title="Audio"></i></a>
                    </li>
                    <% } %>

                    <% if ( (hint.videoLinks !== undefined) && hint.videoLinks.length ){ %>
                    <li>
                        <a href="#qwiz-media-video" data-bypass data-toggle="tab"><i class="fa fa-video-camera"
                                                                                     data-toggle="tooltip"
                                                                                     title="Video"></i> </a>
                    </li>
                    <% } %>

                </ul>

                <div class="tab-content">

                    <div id="qwiz-media-image" class="tab-pane <%= image_active %>">
                        <%= _.partial('imageLinks', {"imageLinks": hint.imageLinks} ) %>
                    </div>

                    <div id="qwiz-media-audio" class="tab-pane <%= audio_active %>">
                        <%= _.partial('audioLinks', {"audioLinks": hint.audioLinks} ) %>
                    </div>

                    <div id="qwiz-media-video" class="tab-pane <%= video_active %>">
                        <%= _.partial('videoLinks', {"videoLinks": hint.videoLinks} ) %>
                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
    </div>
     <% } %>


</div>

<div class="col-xs-12  qwiz-hint-warning hidden">

    <div class="alert alert-warning">
        <strong>Warning!</strong> You need to select an option to proceed to next hint.
    </div>

</div>

<div class="qwiz-controls clearfix">
    <button  class="pull-left btn btn-info" id="qwiz-control-back" >Back to Qwiz <i
            class="fa fa-reply" data-toggle="tooltip" title="Back to Qwiz"></i></button>
    <% if (!obj.lastOne){ %>
        <button class="btn btn-primary" id="qwiz-control-next">Next Hint</button>
    <% } %>
</div>

