<div class="qwiz-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="qwiz-control-done"><i class="icon-remove"></i></button>
    <h3 class="title"><%= obj.title %></h3>

</div>


<%
var question = obj.multiple_choice_question.question
var answers = obj.multiple_choice_question.answers
%>

<div class="qwiz-body clearfix">

    <div class="qwiz-question">
        <div class="span9">

            <p>
                <%= question.text %>
            </p>
        </div>
    </div>

    <div class="qwiz-media clearfix">
        <div class="span10">
            <div class="tabbable">


                <ul class="nav nav-tabs">

                    <% if ( (question.imageLinks !== undefined) && question.imageLinks.length ){ %>
                    <li class="active">
                        <a href="#qwiz-media-image" data-bypass data-toggle="tab"><i class="icon-picture"
                                                                                     data-toggle="tooltip"
                                                                                     title="Image"></i></a>
                    </li>
                    <% } %>

                    <% if ( (question.audioLinks !== undefined) && question.audioLinks.length ){ %>
                    <li>
                        <a href="#qwiz-media-audio" data-bypass data-toggle="tab"><i class="icon-volume-up"
                                                                                     data-toggle="tooltip"
                                                                                     title="Audio"></i></a>
                    </li>
                    <% } %>

                    <% if ( (question.videoLinks !== undefined) && question.videoLinks.length ){ %>
                    <li>
                        <a href="#qwiz-media-video" data-bypass data-toggle="tab"><i class="icon-facetime-video"
                                                                                     data-toggle="tooltip"
                                                                                     title="Video"></i> </a>
                    </li>
                    <% } %>

                </ul>

                <div class="tab-content">

                    <div id="qwiz-media-image" class="tab-pane active">
                        <%= _.partial('imageLinks', {"imageLinks": question.imageLinks} ) %>
                    </div>

                    <div id="qwiz-media-audio" class="tab-pane">
                        <%= _.partial('audioLinks', {"audioLinks": question.audioLinks} ) %>
                    </div>

                    <div id="qwiz-media-video" class="tab-pane">
                        <%= _.partial('videoLinks', {"videoLinks": question.videoLinks} ) %>
                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
            <hr>
        </div>
    </div>


    <div class="qwiz-option-header">
        <p> Options: </p>
    </div>

    <%for (var i = 0; i < answers.length; i++) { %>
    <% var item = answers[i] %>
    <% var item_id = String.fromCharCode('A'.charCodeAt() + i) %>

        <div class="qwiz-option clearfix">
            <div class="span9">
                <p>
                    <%= item_id%>. <%=item.choice.text %>
                </p>
            </div>
            <div class="span1">
                <input type="checkbox" name="option-<%= item_id %>" value="<%= item_id %>">
            </div>

        </div>

    <% }; %>


</div>

<div class="qwiz-controls">
    <button class="pull-left" id="qwiz-control-hint" data-toggle="tooltip" title="Hint"><i
            class="icon-hand-right icon-2x"></i></button>
    <button class="btn btn-primary" id="qwiz-control-prev"> Previous</button>
    <button class="btn btn-primary" id="qwiz-control-next">Next</button>
</div>
