<div class="qwiz-header clearfix">
    <div class="clearfix">

    <button type="button" class="qwiz-control-done pull-right"><i class="fa fa-times"></i></button>
    <h4 class="title pull-left"><%= obj.title %> </h4>
    </div>
    <h3 class="subtitle pull-left"><%= obj.chapterTitle %> </h3>

</div>
<div class="qwiz-body clearfix">


    <p>
        <%= obj.description %>

    </p>


</div>

<div class="qwiz-controls">
    <button class="btn btn-primary" id="qwiz-control-next">Next</button>
</div>
