
<div  id="qwizkool-toolbar"  class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-double-angle-down icon-4x"></span>
             </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a id="my-qwizbooks" ><i class="icon-book "></i> My Qwizbooks</a></li>
                    <li class="divider-vertical"></li>
                    <li><a id="qwizbook-archive" ><i class="icon-briefcase icon-white"></i> Archives</a></li>
                    <li class="divider-vertical"></li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>
    <!--/.navbar-inner -->
</div>
<!--/.navbar -->