

		<div class="qwizbook-item qwizbook-item-style clearfix" id="qwizbooksummary-container">
			<div class="row-fluid">
		
				<div class="span12" id="qwizbook-summary-header">
					<div class="page-header">
						<div class="navbar">
							<div class="navbar-inner">
								
							  <div class="span1" align="left" style="border:0px solid black; padding-left: 10px;">
							    	<div class="control-group">
							    		<div class="controls">
									        <input type="checkbox" name="allQwizbooks"  id="allQwizbooks" >
									    </div>    
									</div>
								</div>
									
							   <div class="span6" style="border:0px solid black;">
								<form class="navbar-search pull-left" >
                                   <input type="text" class="search-query" id="qwizbook_searchKeyword" placeholder="Search">
                                </form>
                               </div>

                                
                                <div class="span5" style="border:0px solid black;" align="left">
								<div  style="border:0px solid black;margin-bottom: 5px;" align="right" id="deleteAllQwizbooks">
								    <div class="control-group">
								    	<div class="controls">
									        <a id="unArchiveQwizbook" class="btn">
							                    <i style="color: #e9322d" class="icon-edit"></i> Unarchive
							                </a>
							           </div>
							        </div>
							    </div>
							    </div>
							    
								
								
		
							</div>
						</div>
						
						
					</div>
				</div>
		

				<div class="span12"  id="archiveQwizbookList-container">

           		 		
           		 		
       	 		</div>
				
			</div>
		</div>

