<div class="breadcrump-container clearfix">
	<div style="float: left; width: 1133px;">
		<input type="text" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" class="text search" value="Search Qwizkool" id="user-search-input" autofocus="" required="">
		<select style="float: right;height:35px;">
			<option>Sort by</option>
			<option>Most Popular</option>
			<option>Recently Updated</option>
		</select>

		<div></div>
	</div>
</div>






