 <!--Qwizbook review Item-->
            <div class="row remove-bottom qwizbook-review-item qwizbook-panel-style">




                <div class="row  qwizbook-review-item-header">
                        <div class="row"> <strong><%= comment %></strong> by <%= username %>, Nov 11, 2012</div>

                </div>

                <div class="row qwizbook-review-item-content">
                    <div><%= description %>
                    </div>
                </div>

                <div class="row qwizbook-review-item-footer">

                </div>

            </div>