<div class="media">
		
							<div class="media-body">
								<table border="0">
									<tbody><tr>
										<td align="right" style="padding:10px;" class="span3">Title</td>
										<td align="left" style="border: 1px solid #EEEEEE;padding:10px;" class="span9">
											<input type="text" id="qwizbook-title" name="qwizbook-title" value="<%= title %>">
										</td>
									</tr>
									
									<tr>
										<td align="right" style="border: 1px solid #EEEEEE;padding:10px;" class="span3">Description</td>
										<td align="left" style="border: 1px solid #EEEEEE;padding:10px;" class="span9">
											<textarea id="qwizbook-description" name="qwizbook-description"><%= description %> </textarea>
										</td>
									</tr>
									<tr>
									<td> </td>
									<td style="border: 1px solid #EEEEEE;padding:10px;" > <button id="btn-save-qwizbook" class="btn btn-info btn-small" >
                            				Save
                       					 </button>
                       					 
                        			</td>
										
										
									</tr>
									
									
								</tbody></table>
		
							</div>
		
						</div>