<div id="qwizkool-footer" class="row">
    <hr/>
    <div id="qwizkool-footer-content" class="span12" >
        <a href="#contact">Contact</a>
        <span class="sep">|</span>
        <a href="#report-problem">Report a Problem</a>
        <span class="sep">|</span>
        <a href="#blog">Blog</a>
        <span class="sep">|</span>
        <a href="#faq">FAQ</a>
        <span class="sep">|</span>
        <a href="#careers">Careers</a>
        <span class="sep">|</span>
        <a href="#tos">Terms of Service</a>
    </div>
</div>