<div class="span12">
    <div class="row">
        <div class="span4">
            <div id="qwizkool-logo">
                <!--Header Logo-->
                <h1>Qwiz<span>kool</span></h1>
            </div>
        </div>
        <div class="span8">
            <div id="qwizkool-htbu">
                <!--Header toolbar upper-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div id="qwizkool-ltbu">
                <!--Header toolbar lower-->
            </div>
        </div>
    </div>
    <hr>
</div>
