<!--Qwizbook List Item-->
<!--TODO: clean up the css styles, consolidate to external CSS file.-->
<div class="qwizbook-list-item qwizbook-item-style clearfix">

    <div class="row">

        <input type="hidden" class="book_avgRating" value="<%= averageRating %>"/>
        <input type="hidden" class="book_userrating" value="<%= userRating %>"/>
        <input type="hidden" class="book_id" value="<%= _id %>"/>

        <div class="span12 qwizbook-list-item-header" style=";background-color: #f8f8f8">
            <div class="" style="margin: 10px">

                <div class="btn-group pull-right">
                    <a data-toggle="dropdown" class="btn dropdown-toggle">
                        <i class="icon-double-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="item-archive-sel" id="qwizbookArchive_<%= _id %>"><i class="icon-briefcase"></i>Archive</a></li>
                        <li class="divider"></li>
                        <li><a class="item-pub-sel" id="qwizbookPublishOrUnpublish_<%= _id %>"><i class="icon-bullhorn"></i><span>Publish</span></a></li>

                    </ul>

                    <input type="hidden" name="published_<%= _id %>" id="published_<%= _id %>"
                           value="<%= published %>"/>
                </div>



                <input type="checkbox" class="item-checked pull-left" id="qwizbook-item_<%= _id %>">

                <span class="icon-published-status" id="qwizbook-publish-status_<%= _id %>" style="padding: 10px"><i class="icon-bullhorn icon-1x" data-toggle="tooltip" title="Published"></i> </span>

                <h1 style="font-weight: 300"><%= title %></h1>
            </div>

        </div>

        <div class="span12 qwizbook-list-item-content">
            <div class="row-fluid">
                <div class="span12 ">
                    <div class="" style="margin: 10px">

                        <div class="media">

                            <a class="pull-left" href="">
                                <img class="media-object img-polaroid" src="../../assets/img/qbook-thumb-114x166.gif">
                            </a>

                            <div class="media-body">

                                <%= description %>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Qwizbook List Item ends-->


