

<div  id="qwizkool-home-content-toolbar">
    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="row">
            <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6 clearfix">
                <ol class="breadcrumb" >
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>

            </div>
            <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6 clearfix">
                <div id="sort-selection" class="input-group">
                    <input id="host-selection" type="text" class="form-control">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sort
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right" id="host-selector">
                            <li><a>Recently Updated</a></li>
                            <li><a>Most Popular</a></li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /input-group -->

            </div>
        </div>
        </div>
    </div>

</div>


<div class="container" id="qwizkool-home-content-container">

</div>

<div  id="qwizkool-home-content-footer">
    <div class="navbar navbar-static">
        <div class="container">
            <div class="col-xs-12  col-sm-12  col-md-12 col-lg-12">

                <div class="pagination-wrapper">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>

                </div>



            </div>

        </div>
    </div>

</div>
