<div class="container" id="qwizkool-tabbar">

<!-- TAB HEADER -->
<ul class="tabs clearfix ">
    <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
    <li>
        <a href="#qwizkool-home" class="active" data-bypass=""><strong>Home</strong></a>
    </li>
   
</ul>

<!-- TAB CONTENT Give ID that matches HREF of above anchors -->
<ul class="tabs-content clearfix user-main-tab-content">

<!--Home Page-->
<li id="qwizkool-home" class="active clearfix">


    <!--Side left panel-->
    

    <!--Side Right panel-->
    <div class="container" id="qwizkool-home-content-right">

        <!--Side Right header-->
        <div class="row side-panel-header-style remove-bottom" id="home-content-header">
            <!--Breadcrump-->
           
        </div>

        <!--Side Right Content-->
        <div class=" row side-panel-style " id="home-content-container">

            <!--Qwizbook List Item-->
            <div class="remove-bottom qwizbook-item">

                <div class="qwizbook-header">
                    <div><h3><%=title %></h3></div>
                </div>

                <div class="qwizbook-item-content clearfix">

                    <div class="three columns " id="qwizbook-main-image">
                        <img src="assets/img/placeholder.png" class="scaled-image">
                    </div>
                    <div class="row qwizbook-details">
                        <div>
                            <div><h4>Description:</h4></div>
                            <div><%=description %>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row qwizbook-footer">
                    <div class="qwizbook-rated-container">
                        <h5>Average rating:</h5>
                        <ul class="rater rating-w-fonts">
                            <li class="rated">R</li>
                            <li class="rated">R</li>
                            <li class="rated">R</li>
                            <li>R</li>
                            <li>R</li>
                        </ul>
                    </div>
                    <div class="qwizbook-to-be-rated-container">
                        <h5>Click to rate:</h5>
                        <ul class="rater rating-w-fonts">
                            <li id="rating-1" name="rating-1" value="1">R</li>
                            <li id="rating-2" name="rating-2" value="2">R</li>
                            <li id="rating-3" name="rating-3" value="3">R</li>
                            <li id="rating-4" name="rating-4" value="4">R</li>
                            <li id="rating-5" name="rating-5" value="5">R</li>
                        </ul>
                    </div>

                </div>
                <button class="full-width">
                    <h4>Start</h4>

                </button>

            </div>


        </div>

        <!--Side Right header-->
        <div class="row side-panel-header-style remove-bottom" id="review-content-header">
            <div><h4> Comments</h4></div>
            <button style="float: right">Write a comment</button>
        </div>

        <!--Side Right Content-->
        <div class=" side-panel-style remove-bottom" id="review-content-container">

            <!--Qwizbook review Item-->
            <div class="row remove-bottom qwizbook-review-item qwizbook-panel-style">




                <div class="row  qwizbook-review-item-header">
                        <div class="row"> <strong>Title saddassadasdsadsadsadasdsada sdsadsadasdasdasdasdsadsadsadas</strong> by reviewer, Nov 11, 2012</div>
                        <div class="qwizbook-ratings-container">
                            <ul style="margin-bottom: 0px" class="rating-w-fonts">
                                <li class="rated">R</li>
                                <li class="rated">R</li>
                                <li class="rated">R</li>
                                <li>R</li>
                                <li>R</li>
                            </ul>
                        </div>

                </div>

                <div class="row qwizbook-review-item-content">
                    <div>Donec imperdiet egestas lorem, nec feugiat eros gravida et. Pellentesque ultricies
                        consectetur tortor, sit amet hendrerit nibh faucibus ac. Integer imperdiet, leo ut
                        pretium mollis, quam sem malesuada magna, et sollicitudin risus tortor quis tellus.
                        Nunc convallis laoreet mi, in ullamcorper dui molestie quis. Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit. Nullam sit amet posuere nulla. Nulla molestie
                        aliquet tellus sed tristique. Duis pretium, sapien sed venenatis porttitor, nisl
                        sem fringilla risus, ac ultricies neque quam vel massa.
                    </div>
                </div>

                <div class="row qwizbook-review-item-footer">

                </div>

            </div>


        </div>


    </div>

</li>

<li id="qwizkool-library">
    Qwizkool user Library panel.
</li>
<li id="qwizkool-author">
    Qwizkool authoring panel.
</li>
<li id="qwizkool-achievements">
    Qwizkool achievements panel.
</li>
<li id="qwizkool-bookmarks">
    Qwizkool book marks panel
</li>
</ul>

</div>