<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 clearfix">
    <input type="hidden"  class="book_avgRating" value ="<%= averageRating %>" />
    <input type="hidden"  class="book_userrating" value ="<%= userRating %>" />
    <input type="hidden"  class="book_id" value ="<%= _id %>" />

    <div class="panel panel-default">

        <div class="panel-body">
            <div class="media">

                <a class="" href="">
                    <img class="media-object img-polaroid" src="../../assets/img/qbook-thumb-114x166.gif">
                </a>

                <div class="media-body">
                    <div class="page-header" style="border-bottom: none">
                        <h4><%= title %> <small>Subtext for header</small></h4>
                    </div>


                </div>

            </div>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"> <p><%= description %></p> </li>
            <li class="list-group-item"><div id= 'qbookaverage_rating' class="qwizbook-ratings-container">
                <p id="count_<%= _id %>" class="muted text-left" style="margin-left: 10px; margin-bottom: 0px"><%= userratingcount %>  ratings</p>




            </div></li>
            <li class="list-group-item"><div id="book_userRating" class="qwizbook-ratings-container">
                <p class="muted text-left" style="margin-left: 10px"> Your rating: </p>
                <ul   class="rating-w-fonts text-left" style="margin: 10px;margin-bottom: 0px">

                </ul>
            </div></li>

        </ul>

        <div class="panel-footer">
            <button class="btn btn-info btn-large  qwizbookListItem" style="margin: 10px" id="<%= _id %>">
                Open
            </button>
        </div>
    </div>

</div>














<!--Qwizbook List Item ends-->