<!--Qwizbook List Item-->
		<div class="remove-bottom qwizbook-item">

                <div class="qwizbook-header">
                    <div><h3><%=title %></h3></div>
                </div>

                <div class="qwizbook-item-content clearfix">

                    <div class="three columns " id="qwizbook-main-image">
                        <img src="assets/img/placeholder.png" class="scaled-image">
                    </div>
                    <div class="row qwizbook-details">
                        <div>
                            <div><h4>Description:</h4></div>
                            <div><%=description %></div>

                        </div>
                    </div>
                </div>


                <div class="row qwizbook-footer">
                    <div class="qwizbook-rated-container">
                        <h5>Average rating:</h5>
                        <ul class="rater rating-w-fonts">
                            <li class="rated">R</li>
                            <li class="rated">R</li>
                            <li class="rated">R</li>
                            <li>R</li>
                            <li>R</li>
                        </ul>
                    </div>
                    <div class="qwizbook-to-be-rated-container">
                        <h5>Click to rate:</h5>
                        <ul class="rater rating-w-fonts">

                            <li id="rating-1" name="rating-1" value="1">R</li>
                            <li id="rating-2" name="rating-2" value="2">R</li>
                            <li id="rating-3" name="rating-3" value="3">R</li>
                            <li id="rating-4" name="rating-4" value="4">R</li>
                            <li id="rating-5" name="rating-5" value="5">R</li>

                        </ul>
                    </div>

                </div>
                <button class="full-width">
                    <h4>Start</h4>

                </button>

            </div>