 <!--Qwizbook List Item-->
                    <div class="row remove-bottom qwizbook-list-item qwizbook-panel-style" id="qwizbooklistitem-container">

                        <div class="row  qwizbook-list-item-header">
                            <div><h3><%= title %></h3></div>
                        </div>

                        <div class="row qwizbook-list-item-content">
                            <div><h4>Description:</h4></div>
                            <div> <%= description %>
                            </div>
                        </div>

                        <div class="row qwizbook-list-item-footer">
                            <div class="qwizbook-ratings-container">
                                <ul class="rating-w-fonts">
                                    <li class="rated">R</li>
                                    <li class="rated">R</li>
                                    <li class="rated">R</li>
                                    <li>R</li>
                                    <li>R</li>
                                </ul>
                            </div>
                            <button class="qwizbookListItem" id="<%= _id %>">Open</button>
                        </div>

                    </div>
                    
                    <!--Qwizbook List Item ends-->