  <!--Qwizbook List Item-->
            <div class="remove-bottom qwizbook-item">

                <div class="qwizbook-header">
                    <div><h3><%=title %></h3></div>
                </div>

                <div class="qwizbook-item-content clearfix">

                    <div class="three columns " id="qwizbook-main-image">
                        <img src="assets/img/placeholder.png" class="scaled-image">
                    </div>
                    <div class="row qwizbook-details">
                        <div>
                            <div><h4>Description:</h4></div>
                            <div><%=description %>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row qwizbook-footer">
                    <div class="qwizbook-rated-container">
                        <h5>Average rating:</h5>
                        <ul class="rater rating-w-fonts">
                            <li class="rated">R</li>
                            <li class="rated">R</li>
                            <li class="rated">R</li>
                            <li>R</li>
                            <li>R</li>
                        </ul>
                    </div>
                    <div id="user-rating">
                    	 <div id="qwizbookUserrating" class="qwizbook-to-be-rated-container">
                        
                    </div>
                    </div>
                   

                </div>
                <button class="full-width">
                    <h4>Start</h4>

                </button>

            </div>