<!--TODO: cleanup id and class names also move style to CSS.-->

<div class="qwizbook-comment-style clearfix" id="qwizbook-comments-form">

    <div class="row">
        <div class="span12 ">
            <div class="row qwizbook-list-item-footer">

                <div class="span10">
                    <div style="margin: 10px">
                        <h3 style="font-weight: 300">Comments</h3>
                    </div>
                </div>

                <div class="span2">
                    <div style="padding: 10px">
                        <button id="writeComment" class="btn btn-block">
                            Write Comment
                        </button>
                    </div>
                </div>

            </div>

            <hr>
        </div>

        <div class="span12 ">

            <form class="form-horizontal ">
                <fieldset style="padding: 10px">
                    <div class="control-group">
                        <textarea class="input-block-level inp" id="qwizbook-comment-text" rows="4"
                                  placeholder="Provide your comments for this qwizbook."
                                  style="resize: vertical"></textarea>
                    </div>

                    <button id="addcomment" class="btn btn-info">Submit</button>

                </fieldset>
            </form>

        </div>
    </div>

</div>
