<div class="container" id="qwizkool-tabbar">

<!-- TAB HEADER -->
<ul class="tabs clearfix ">
    <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
    <li>
        <a href="#qwizkool-home" class="active" data-bypass=""><strong>Home</strong></a>
    </li>
   
</ul>

<!-- TAB CONTENT Give ID that matches HREF of above anchors -->
<ul class="tabs-content clearfix user-main-tab-content">

<!--Home Page-->
<li id="qwizkool-home" class="active clearfix">


    <!--Side left panel-->
    

    <!--Side Right panel-->
    <div class="container" id="qwizkool-home-content-right">

        <!--Side Right header-->
        <div class="row side-panel-header-style remove-bottom" id="home-content-header">
            <!--Breadcrump-->
           
        </div>

        <!--Side Right Content-->
        <div class=" row side-panel-style " id="home-content-container">

          
		  

        </div>

        <!--Side Right header-->
        <div class="row side-panel-header-style remove-bottom" id="review-content-header">
           
        </div>

        <!--Side Right Content-->
        <div  id="review-content-container">

           


        </div>


    </div>

</li>

</ul>

</div>