<!--TODO: cleanup id and class names also move style to CSS.-->

<div class="qwizbook-comment-style clearfix" id="qwizbook-comments-form">

    <div class="row">
        <div class="span12 ">

            <form class="form-horizontal ">

                <fieldset style="padding: 10px">
                    <legend class="text-info">Provide your comments</legend>
                    <div class="control-group">
                        <textarea class="input-block-level" id="qwizbook-comment-text" rows="4"
                                  placeholder="Provide your comments for this qwizbook."
                                  style="resize: vertical"></textarea>
                    </div>

                    <button id="addcomment" class="btn btn-info">Submit</button>

                </fieldset>
            </form>

        </div>
    </div>

</div>
