
<!--For Content specific toolbar.-->
<div class="content-toolbar" id="qwizkbook-content-toolbar">
    <div class="navbar-default">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="javascript:void(0)">Qwizbook</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!--For Qwizbook detail view-->
<div id="qwizbook-detail-content-container">

</div>

<!--For commenting section.-->
<!--
<div  id="qwizbook-comment-header-container">

</div>

<div  id="qwizbook-comment-list-container">

</div>
-->
