<div class="span12" id="my-qwizbooks-content-header">

    <div class="navbar">
        <div class="navbar-inner navbar-simple">

            <div class="row-fluid my-qwizbooks-tb">
                <div class="span2 tb-item-left tb-item-small-media">
                    <div class="btn-group">
                        <a class="btn btn-info" id="all-items-selector" data-toggle="button"><i
                                class="icon-circle-blank" data-toggle="tooltip" title="All"></i></a>
                    </div>
                </div>
                <div class="span2 tb-item-center tb-item-small-media">
                    <a class="btn btn-danger disabled" id="un-archive-all-btn"><i class="icon-folder-open-alt"
                                                                                  data-toggle="tooltip"
                                                                                  title="Un Archive"></i></a>
                </div>
                <div class="span8  tb-item-right tb-item-small-media">
                    <div class="btn-group">
                        <input type="text" class="search-query" id="search-qwizbook" placeholder="Search">
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<div class="span12" id="archiveQwizbookList-container">

</div>
