<!--TODO: clean up the css styles, consolidate to external CSS file.-->
<div class="qwizbook-item qwizbook-item-style clearfix" id="qwizbookitem-container">
    <div class="row">

        <div class="span12 qwizbook-summary-header">
            <div class="page-header" style="margin: 10px">
                <h1 style="font-weight: 300">QwizBook Summary</h1>
            </div>
        </div>

        <div class="span12 qwizbook-summary-content">

            <div class="page-header" style="margin: 10px;height:200px;">

                <div class="media">

                    
                    <div class="media-body">


                    </div>

                </div>

            </div>
        </div>
        <div class="span12 ">

            <div class="row qwizbook-summary-footer">

                <div class="span2">
                    <div style="padding: 10px">
                        <button class="btn btn-info btn-small btn-block  qwizbookSummary" >
                            Back
                        </button>
                    </div>
                </div>

                <div class="span8 ">
                   
                </div>

                <div class="span2">
                    <div style="padding: 10px">
                        <button class="btn btn-info btn-small btn-block  qwizbookSummary" >
                            Next
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




<!-- Page 2 -->

