<div class="navbar searchfilter-container">
    <div class="navbar-inner">
        <form class="navbar-search pull-left" style="margin-top: 10px">
            <input type="text" class="search-query" id="user-search-input" placeholder="Search">
        </form>

        <form class="form-horizontal" style="margin-top: 0px;margin-bottom: 10px; float: right" >
            <fieldset>
                <div class="control-group" style="margin-top: 10px;margin-bottom: 0">
                    <label class="control-label" style="padding-top: 5px" >Sort By:</label>
                    <div class="controls">
                        <select id="user-filter-input">
                            <option value="1">Most Popular</option>
                            <option value="2">Recently Updated</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>


<!--
<div class=" clearfix">
	
		<input type="text" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" class="text search" value="Search Qwizkool" id="user-search-input" autofocus="" required="">
		<select style="float: right;height:35px;" id="user-filter-input">
			<option>Sort by</option>
			<option>Most Popular</option>
			<option>Recently Updated</option>
		</select>

		<div></div>
	
</div>-->
