<div class="btn-group pull-right">
    <button id="user-settings" class="btn btn-small dropdown-toggle" data-placement="left" data-toggle="dropdown">
        <i class="icon-cog"></i>
        Settings
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a id="user-logout" href="#">Logout</a></li>
        <li class="divider"></li>
        <li><a href="#">Messages</a></li>
        <li class="divider"></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>

