
    <!--Side Right header-->
    <div class="span12" id="home-content-header">
        <div id="searchfilter-container">

        </div>
    </div>

    <!--Side Right Content-->
    <div  class="span12" id="qwizbooklist-container">


    </div>








<!--



<div class="band user_main">
	<div  class="row clearfix">
		<div class="sixteen columns add-bottom ">

			&lt;!&ndash; Standard <ul> with class of "tabs" &ndash;&gt;
			&lt;!&ndash; NOTE: jQuery that fires the change is in tabs.js &ndash;&gt;
			<ul class="tabs clearfix remove-bottom">
				&lt;!&ndash; Give href an ID value of corresponding "tabs-content" <li>'s &ndash;&gt;
				<li>
					<a data-bypass class="active" href="#Home"><strong>Home</strong></a>
				</li>
				<li>
					<a data-bypass href="#library"><strong>Library</strong></a>
				</li>
				<li>
					<a data-bypass href="#author"><strong>Create a Qwizbook</strong></a>
				</li>
				<li>
					<a data-bypass href="#achievements"><strong>Achievements</strong></a>
				</li>
				<li>
					<a data-bypass href="#Bookmarks"><strong>Bookmarks</strong></a>
				</li>

			</ul>
			<div class="row clearfix">
				&lt;!&ndash; Standard <ul> with class of "tabs-content" &ndash;&gt;
				<ul class="tabs-content clearfix user-main-tab-content">
					&lt;!&ndash; Give ID that matches HREF of above anchors &ndash;&gt;

					<li class="active" id="Home1" >
						<div class="container" id="qwizkool-tabbar">

							&lt;!&ndash; TAB HEADER &ndash;&gt;

							&lt;!&ndash; TAB CONTENT Give ID that matches HREF of above anchors &ndash;&gt;
							<ul class="tabs-content clearfix user-main-tab-content">

								&lt;!&ndash;Home Page&ndash;&gt;
								<li id="Home" class="active clearfix">

									&lt;!&ndash;Side left panel&ndash;&gt;

									&lt;!&ndash;Side Right panel&ndash;&gt;

									<div>
										<div class="twelve columns omega clearfix" id="qwizkool-home-content-right">

											&lt;!&ndash;Side Right header&ndash;&gt;
											<div class="row side-panel-header-style remove-bottom" id="home-content-header">
												<div id="searchfilter-container">

												</div>
											</div>

											&lt;!&ndash;Side Right Content&ndash;&gt;
											<div id="qwizbooklist-container">
												

											</div>

										</div>
									</div>

									&lt;!&ndash;Side Right header&ndash;&gt;

								</li>
								<div id="pagination-container">

								</div>
					</li>

					<li  id="library" >
						<div id="qwizbook-list">
							Qwizkool user library panel.
						</div>
					</li>
					<li id="shelf">
						Qwizkool user shelf panel.
					</li>
					<li id="author">
						Qwizkool authoring panel.
					</li>
					<li id="achievements">
						Qwizkool achievements panel.
					</li>
					<li id="Bookmarks">
						Qwizkool user Bookmarks panel
					</li>
				</ul>
			</div>
		</div>
		&lt;!&ndash;    <hr/> &ndash;&gt;
	</div>
</div>
-->
