<div class="band user_main">
	<div  class="row clearfix">
		<div class="sixteen columns add-bottom ">

			<!-- Standard <ul> with class of "tabs" -->
			<!-- NOTE: jQuery that fires the change is in tabs.js -->
			<ul class="tabs clearfix remove-bottom">
				<!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
				<li>
					<a data-bypass class="active" href="#Home"><strong>Home</strong></a>
				</li>
				

			</ul>
			<div class="row clearfix">
				<!-- Standard <ul> with class of "tabs-content" -->
				<ul class="tabs-content clearfix user-main-tab-content">
					<!-- Give ID that matches HREF of above anchors -->

					<li class="active" id="Home1" >
						<div class="container" id="qwizkool-tabbar">

							<!-- TAB HEADER -->

							<!-- TAB CONTENT Give ID that matches HREF of above anchors -->
							<ul class="tabs-content clearfix user-main-tab-content">

								<!--Home Page-->
								<li id="Home" class="active clearfix">

									<!--Side left panel-->

									<!--Side Right panel-->

									<div>
										<div class="twelve columns omega clearfix" id="qwizkool-home-content-right">

											<!--Side Right header-->
											<div class="row side-panel-header-style remove-bottom" id="home-content-header">
												<div id="searchfilter-container">

												</div>
											</div>

											<!--Side Right Content-->
											<div id="qwizbooklist-container">
												

											</div>

										</div>
									</div>

									<!--Side Right header-->

								</li>
								<div id="pagination-container">

								</div>
					</li>

					<li  id="library" >
						<div id="qwizbook-list">
							Qwizkool user library panel.
						</div>
					</li>
					<li id="shelf">
						Qwizkool user shelf panel.
					</li>
					<li id="author">
						Qwizkool authoring panel.
					</li>
					<li id="achievements">
						Qwizkool achievements panel.
					</li>
					<li id="Bookmarks">
						Qwizkool user Bookmarks panel
					</li>
				</ul>
			</div>
		</div>
		<!--    <hr/> -->
	</div>
</div>
