<!--TODO: clean up the css styles, consolidate to external CSS file.-->
<div class="navbar clearfix" id="user-settings">

    <ul class="nav" style="float: right">

        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i> <%= email %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                <div class="panel-style-signin">
                    <li>
                        <a>
                            <p><strong><%= name %></strong></p>
                            <span class=" badge badge-warning"> <%= notifications %> messages</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a id="qwizbook-archive"><i class="icon-briefcase icon-large"></i> Archives</a></li>

                    <li class="divider"></li>
                    <li><a id="user-logout"><i class="icon-signout icon-large"></i> Logout</a></li>
                </div>
            </ul>
        </div>


    </ul>

</div>

