/*Special fonts just for Logo*/
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Lato);

.header-int-nav {
    background-color: #FFF;
    border: none;
}

.header-int-nav .qwizkool-logo-name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-int-nav #qwizkool-search {
    padding-top: 10px;
}

.header-int-nav #qwizkool-settings {
    padding-bottom: 10px;
}
.header-int-nav #qwizkool-search-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}


.header-login-nav {
    background-color: #FFF;
    border: none;
}

.header-login-nav .qwizkool-logo-name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-main-nav {
    background-color: #FFF;
    border: none;
}

.header-main-nav .btn-group {
    padding: 10px;
}

.header-main-nav .qwizkool-logo-name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-nav {
    background-color: #FFF;
    border: none;
}
.footer-wrapper {
    padding: 10px;
    text-align: center;
}


/* Large desktop */
@media (min-width: 1200px) {
    .adjust-settings-pad{
        padding-top: 10px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 992px) and (max-width: 1200px) {


    .adjust-settings-pad{
        padding-top: 10px;
    }


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
    .reg-form-margin-media {
        margin-top: 5px;
    }

    .adjust-settings-pad{
        padding-top: 10px;
    }


}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .reg-form-margin-media {
        margin-top: 5px;
    }

    .tb-item-small-media {
        text-align: left
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {
    .reg-form-margin-media {
        margin-top: 5px;
    }
    .tb-item-small-media {
        text-align: left
    }

    .signin-drop-alignment {
        float: right;
    }


}





.embed {
    position: relative;
    padding: 0;
    padding-bottom: 56.25%; /* 16:9 ratio*/
    height: 0;
    overflow: hidden;
}

/*
then we make the actual embedded content
behave in terms of its dimensions
and its position within the container
*/
.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* OLD DESIGN */
body {
    /* background-color: #dcdcdc;*/
}

.body-black {
    background-color: #000;
}


.hero-unit {
    background-image: url('../img/lined_paper/lined_paper.png');

}

/* Generic scaled image */

.logo {
    margin-left: 0px;
    padding: 0px;

}

#qwizkool-header hr {
    margin-top: 0px;
}

#qwizkool-logo h1 {
    /*font-family: 'Courgette', cursive;*/
    font-weight:300;
    font-size: 24px;
    /*color: #0088cc;*/
}

.server-padding {
    padding-left: 10px;
}

.activation-banner {
    background-color: #d0d0d0;
    padding: 10px;
    margin: 10px;
}

#qwizkool-logo span {
    font-family: 'Lato', sans-serif;
    color: #0088cc;
}

.logo a {
    width: 250px;
    height: 90px;
    display: block;
    background: url(../img/qwizkool-logo.png) no-repeat;

    /* to hide text of the link */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.panel-style {
    background: #FFF;
    padding: 10px;
    border: thin solid #d0d0d0; /* This is the outer border, inner border will be added to the div contained within*/
    border-radius: 8px; /* Add rounded corners to the form*/

}


.panel-style-transparent {
    background: #F9f9f9;
    padding: 10px;
    border-radius: 8px; /* Add rounded corners to the form*/

    box-shadow: 0 0 20px #FFFFFF; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
    -webkit-box-shadow: 0 0 20px #FFFFFF;
    -moz-box-shadow:0 0 20px #FFFFFF;
}

.panel-style-signin {

    padding: 10px;
    border-radius: 8px; /* Add rounded corners to the form*/

    box-shadow: 0 0 20px #FFFFFF; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
    -webkit-box-shadow: 0 0 20px #FFFFFF;
    -moz-box-shadow:0 0 20px #FFFFFF;
}

.panel-registration {
    background: #000;
}

#qwizkool-footer-content {
    text-align: center;
}

#hero-unit-qwizkoolmain {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

#reg-in-form {
    margin-top: 20px;
}
#reg-in-form h4 {
    font-weight: 300;
    color: #08c;
}

#connect h2 {
    font-weight: 300;
}
#connect h4 {
    font-weight: 300;
    color: #08c;
}

#login-status {
    margin-top: 10px;
}

#registration-status {
    margin-top: 10px;
}


.qwizbook-panel-style {
    background: #FFF;
    padding: 0px;
    border: thin solid #d0d0d0; /* This is the outer border, inner border will be added to the div contained within*/
    box-shadow: 0px 1px 3px #888; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
    -webkit-box-shadow: 0px 1px 3px #888;
    -moz-box-shadow: 0px 1px 3px #888;
}


.qwizbook-item-style {
    background: #FFF;
    margin-top: 10px;
    padding: 0px;
    border: thin solid #d0d0d0;
}

.qwizbook-comment-style {
    background: #FFF;
    margin-top: 10px;
    padding: 0px;
    border: thin solid #d0d0d0;
}

.qwizbook-card-style {
    background: #FEFEFE;
    margin-top: 10px;
    padding: 0px;
    border: thin solid #d0d0d0;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
}


.btn-orange {
    color: #FF8800;
}

.qwizbook-list-item-footer .qwizbook-ratings-container .qwizbook-summary-footer{
    border-right: 1px solid #e3e3e3;
}

#qwizbook-author-toolbar .page-header, #qwizbook-create-header .page-header{
    border-bottom: 0px;
}

.hidden{
    display: none;
}

#qwizbook-author-toolbar .form-horizontal{
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-horizontal .controls{
    position: relative;
}

.form-horizontal .controls .media-group{
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
}

.control-group .media-controls{
    line-height: 50px;
}
.controls input{
    height: 22px;
}
/* My Qwizbooks */
.my-qwizbooks-tb {
    margin-bottom: 10px;
}

.item-hide {
    display: none;
}

.tb-item-left {

    text-align: left,

}

.tb-item-center {
    text-align: center
}

.tb-item-right {

    text-align: right
}

.controls .answer{
    margin-top: -3px;
    margin-left: 10px;
}

.controls .answer.first{
    margin-left: 0px;
}
.controls.answer-group{
    padding-top: 5px;
}


/* Qwiz & Qwizengine */

#qwiz-container {
    background: #FEFEFE;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);

}

.qwiz-header {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    -webkit-box-shadow:  0 1px 0 #ffffff;
    -moz-box-shadow:  0 1px 0 #ffffff;
    box-shadow:  0 1px 0 #ffffff;
}

.qwiz-header .title {
 /*   float: left;    */
    font-weight: 200;
    color: #999999;
}

.qwiz-header .subtitle {

    float: left;
    font-weight: 300;
    line-height: 1;

}


.qwiz-header button {
   /* float: right; */
}

.qwiz-body {
    padding: 15px;
    min-height: 300px;
}

.qwiz-body p{
   font-size: 15px;
}
.qwiz-question p{
    font-size: 15px;
}
.qwiz-option  p{
    font-size: 15px;
}


.qwiz-controls {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}


.qwiz-body > p:first-letter {
    font-size : 200%;
    background-color: #f21e21;
    color: #fff;
    padding-right: 3px;

}

.qwiz-option-header  p {
    font-size : 150%;
    font-weight: inherit;
    color: #000;
}

.qwiz-option {

}

.qwiz-option  p:first-letter {
    font-size : 125%;
    font-weight: bold;
    color: #007BC4;

}

.qwiz-option input[type=checkbox] {

}

.qwiz-question  p:first-letter {
    font-size : 200%;
    background-color: #f21e21;
    color: #fff;
    margin: 3px;
}
.qwiz-question div {
    margin: 10px;
}

.qwiz-option div {
    margin: 10px;
}

.qwiz-option div {
    margin: 10px;
}

.qwiz-option input {
    margin-bottom:5px;
}

#qwiz-media-image .scaled-image {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}








.reg-form-margin-media-block {
    display: block;
    width: 100%
}

/* Bootstrap customization */
.navbar-simple {
    background: #FFF;
    box-shadow: 0 0 0;
    padding-top: 8px;
}

.icon-published-status {
    color: green;
}

.pagination {
    margin: 0px;
}
.btn-group.filter-selection {
    margin: 0px;
}

.search-filter-tb {
    margin-bottom: 5px;
}




