/*Special fonts just for Logo*/
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
    padding-top: 20px;
    padding-bottom: 60px;
    /* background-color: #dcdcdc;*/
}

.container {
    background-color: #ffffff;

}
.hero-unit {
    background-image: url('../img/lined_paper/lined_paper.png');

}

/* Generic scaled image */

.logo {
    margin-left: 0px;
    padding: 0px;

}

#qwizkool-header hr {
    margin-top: 0px;
}

#qwizkool-logo h1 {
    /*font-family: 'Courgette', cursive;*/
    font-weight:300;
    font-size: 48px;
    /*color: #0088cc;*/
}

.server-padding {
    padding-left: 10px;
}

.activation-banner {
    background-color: #d0d0d0;
    padding: 10px;
    margin: 10px;
}

#qwizkool-logo span {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    color: #0088cc;
}

.logo a {
    width: 250px;
    height: 90px;
    display: block;
    background: url(../img/qwizkool-logo.png) no-repeat;

    /* to hide text of the link */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.panel-style {
    background: #FFF;
    padding: 10px;
    border: thin solid #d0d0d0; /* This is the outer border, inner border will be added to the div contained within*/
    border-radius: 8px; /* Add rounded corners to the form*/

}


.panel-style-transparent {
    background: #F9f9f9;
    padding: 10px;
    border-radius: 8px; /* Add rounded corners to the form*/

    box-shadow: 0 0 20px #FFFFFF; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
    -webkit-box-shadow: 0 0 20px #FFFFFF;
    -moz-box-shadow:0 0 20px #FFFFFF;
}

.panel-registration {
    background: #000;
}

#qwizkool-footer-content {
    text-align: center;
}

#hero-unit-qwizkoolmain {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

#reg-in-form {
    margin-top: 20px;
}
#reg-in-form h4 {
    font-weight: 300;
    color: #08c;
}

#connect h2 {
    font-weight: 300;
}
#connect h4 {
    font-weight: 300;
    color: #08c;
}

#login-status {
    margin-top: 10px;
}

#registration-status {
    margin-top: 10px;
}


.qwizbook-panel-style {
    background: #FFF;
    padding: 0px;
    border: thin solid #d0d0d0; /* This is the outer border, inner border will be added to the div contained within*/
    box-shadow: 0px 1px 3px #888; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
    -webkit-box-shadow: 0px 1px 3px #888;
    -moz-box-shadow: 0px 1px 3px #888;
}


.qwizbook-item-style {
    background: #FFF;
    margin-top: 10px;
    padding: 0px;
    border: thin solid #d0d0d0;
}

.qwizbook-comment-style {
    background: #FFF;
    margin-top: 10px;
    padding: 0px;
    border: thin solid #d0d0d0;
}


.btn-orange {
    color: #FF8800;
}

.qwizbook-list-item-footer .qwizbook-ratings-container .qwizbook-summary-footer{
    border-right: 1px solid #e3e3e3;
}

#qwizbook-author-toolbar .page-header, #qwizbook-create-header .page-header{
    border-bottom: 0px;
}

.hidden{
    display: none;
}

#qwizbook-author-toolbar .form-horizontal{
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-horizontal .controls{
    position: relative;
}

.form-horizontal .controls .media-group{
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
}

.control-group .media-controls{
    line-height: 50px;
}
.controls input{
    height: 22px;
}
/* My Qwizbooks */
.my-qwizbooks-tb {
    margin-bottom: 10px;
}
.tb-item-left {

    text-align: left,

}

.tb-item-center {
    text-align: center
}

.tb-item-right {

    text-align: right
}


/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .reg-form-margin-media {
        margin-top: 5px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .reg-form-margin-media {
        margin-top: 5px;
    }
    .tb-item-small-media {
        text-align: left
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .reg-form-margin-media {
        margin-top: 5px;
    }
    .tb-item-small-media {
        text-align: left
    }
}


.reg-form-margin-media-block {
    display: block;
    width: 100%
}

/* Bootstrap customization */
.navbar-simple {
    background: #FFF;
    box-shadow: 0 0 0;
    padding-top: 8px;
}
