<div class="container">
    <div class="row">
        <div id="myQwizbook-list-container">
            <!--Qwizbook List Item is hooked here-->

            <!--Qwizbook List Item ends-->

        </div>

        <div id="myQwizbook-no-result-found" class="alert alert-warning" align="center" style="display:none">
            <p class="lead">

            <p class="text-info">You have not created any Qwizbooks. Create one with "Create" button</p>

            </p>
        </div>

        <div class="modal" id="archival-confirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close archive-cancel-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-primary">Archive the Qwizbook?</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default archive-cancel-btn" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary archive-confirm-btn">Archive</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

<div id="my-qwizbooks-content-footer">
    <div class=" navbar-default ">
        <div class="container">
            <div class="col-xs-12  col-sm-12  col-md-12 col-lg-12">

                <div class="pagination-wrapper">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>

                </div>


            </div>

        </div>
    </div>

</div>

