<dl>
    <dt>   <img src="<%= gravatar %>" class="img-circle img-responsive"  style="float: left; padding-right: 5px" alt="A generic square placeholder image with rounded corners">
        <%= username %> - <%= formatted_date %></dt>
    <dd style="padding-top: 10px"><%= comment %></dd>
</dl>



<!--
<dl>
    <dt>   <img src="http://www.gravatar.com/avatar/8c6c89e86058b656c3df96e4a2924233.png?s=32&d=identicon&r=PG" class="img-circle img-responsive"  style="float: left; padding-right: 5px" alt="A generic square placeholder image with rounded corners">
        <%= username %> - <%= formatted_date %></dt>
    <dd style="padding-top: 10px"><%= comment %></dd>
</dl>
-->
